@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Commissioner:wght@400;500;700&family=Open+Sans&display=swap');

html body{
  font-family: Commissioner, sans-serif;
  background-color: hsl(0, 6%, 87%);
  box-sizing: border-box;
}

.disabled{
  border: 1px solid lightgray;
  background-color: lightgray;
  pointer-events: none;

}